





.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  


.cards {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    gap: 50px;
    margin-bottom: 150px;
    margin-top: 150px;
}

.frase p {
    text-align: center;
    font-family: "Cinzel", serif;
    margin-top: 50px;
    font-size: 30px;
    line-height: 0.1;
}

.button {
    margin-left: 800px;
    margin-bottom: 50px;
}

.video {
   margin-top: 80px;
}

.titulo h1 {
    margin-top: 50px;
    font-family: "Oleo Script", system-ui;
    text-align: center;
    font-size: 60px;
    color: rgb(91, 122, 90);
    margin-bottom: 50px;
}

.titulo p {
    text-align: center;
    text-indent: 40px;
    text-align: justify;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    text-indent: 30px;
    font-family: "Montserrat", sans-serif;
}

.titulo {
    text-align: justify;
}

footer {
    height: 500px;
    background-color: #e6e7db;
}

footer .frase {
    padding-top: 5px;
}

footer .contato {
    padding-top: 50px;
    text-align: center;
}

