
@media (max-width: 1000px) {
    body {
        font-size: 14px;
    }

    header {
        height: 100%;
    }
     

}

/* Estilos para telas muito pequenas */
@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

}

@media (max-width: 500px) {
    body {
        font-size: 14px;
    }
}

