
.card-group {
    margin-bottom: 100px;
    width: 1300px;
    margin-left: 200px;
}

.col {
    width: 0px;
    margin-left: 200px;
}

.titulo {
    margin-top: 100px;
    margin-bottom: 80px;
}

.servicos {
    margin-left: 200px;
}

.lazer {
    margin-left: 200px;
}