
.perfil img {
    width: 15%;
    margin-left: 43%;
    margin-top: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.texto {
    width: 1300px;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-indent: 30px;
}

.contato {
    width: 900px;
    margin-left: 290px;
    margin-top: 100px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    flex-direction: column 6px 6px 6px ;
}

